.details-counter{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.details-counter button{
         padding: 10px 20px;
        border: none;
        cursor: pointer;
    }    
     .details-counter button:hover{
        transition: 0.7s;
        color: var(--orange);
    }
     .details-counter .price_number{
    font-size: 15px;
    
    }
     .add{
        border: none;
        background-color: var(--orange);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
     .add:hover{
    background-color: #c97148af;
    transition: 1s;
}
.PopFull{
    padding: 25px;
    position: absolute;
    width: 380px;
    min-height: 310px;
    top: 100px;
    right: 100px;
    z-index: 100;
    font-family: 'Manrope',sans-serif;
    background-color: white;
    border-radius: 10px;
}
.PopFull .head{
    display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .PopFull .head .removeAll a {
        color: black
    }
    .PopFull .body_of_popFull .details_title
    {
        display: flex; 
        
    }
    .PopFull .body_of_popFull .details_title .details-text{
        transform: translate(10px ,10px);
        
    }
    
    .PopFull .body_of_popFull .details{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .PopFull .body_of_popFull .details img{
        width: 64px;
        border-radius: 10px;
    }
    .PopFull .body_of_popFull .details_title p{
        font-size: 15px;
        font-weight: bold;
    }
    .PopFull .body_of_popFull .details{
        margin-bottom: 40px;
    
    }
    .PopFull .body_of_popFull .total{
        display: flex;
        justify-content: space-between  ;
    }
    .PopFull .body_of_popFull .checkout{
        width: 330px;
        height: 50px;
        margin: 20px auto 0px;
        border: none;
        background-color: #d87d4a;
        color: white;
        font-weight: bold;
    }
    @media (max-width:377px) {
    .PopFull{
        width: 350px;
    right: 10px;
    }    
    .PopFull .body_of_popFull .checkout{
        width: 300px;
    
    }
    
    } 
.hidden{
    display: none;
}
@media(max-width:425px) and (min-width:378px){
    .PopFull{
        left: 50%;
        transform: translateX(-50%);
    } 
}